<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.first_name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<div class="listings">
  <% @results.each do |listing| %>
    <div>
      <strong><%= link_to listing[:title], listing[:link] %></strong><br />
      <%= image_tag(listing[:image], :alt => listing[:title]) %><br />
      <%= listing[:price] %><br />
      <%= listing[:address] %><br />
      <%= listing[:latitude] %><br />
      <%= listing[:longitude] %>
    </div>
    <br />
  <% end %>
</div>
