<%= form_tag "/search", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :location, "Search by Location", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :location, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
    </div>
  </div>
<% end %>

<% if @location_data %>
<p><%= @location_data %></p>
<div class='listings'>
  <ol>
  <% @hotel_results.each_with_index do |listing, index| %>
    <div>
        <li><strong><%= link_to listing[:title], listing[:link], target: '_blank' %></strong><br /></li>
        <!-- Images: <#%= listing[:images] %><br /> -->
        Price: <%= listing[:price] %><br />
        Location: <%= listing[:location_description] %><br />
        Latitude: <%= listing[:latitude] %><br />
        Longitude: <%= listing[:longitude] %><br />
        Distance: <%= listing[:distance] %> miles<br />
        <!-- Hotel Amenities: <#%= listing[:hotel_amenities] %><br />
        Room Amenities: <#%= listing[:room_amenities] %><br /> -->
    </div>
    <br />
  <% end %>
</ol>
</div>
<% end %>

<script>
$("#location").geocomplete();

// Trigger geocoding request.
$("button.find").click(function(){
  $("input").trigger("geocode");
});
</script>
