<div class = 'col-md-6'>
  <% if @location_data %>
    <p><%= @location_data %></p>
    <p>Location: <%= @location_input %>
    <br>Arrival: <%= @arrival_date %>
    <br>Departure: <%= @departure_date %></p>
    <% if @hotel_error_message %>
      <div><%= @hotel_error_message %></div>
    <% elsif @hotel_results %>
      <div class='listings'>
        <ol>
          <% @hotel_results.each_with_index do |listing, index| %>
            <div>
              <li>
                <strong>
                  <%= link_to listing[:title], listing[:link], target: '_blank' %>
                </strong>
              </li><br>
              Price: <%= listing[:price] %><br>
              Location: <%= listing[:location_description] %><br>
              Latitude: <%= listing[:latitude] %><br>
              Longitude: <%= listing[:longitude] %><br>
              Distance: <%= listing[:distance] %> miles<br>
            </div>
            <br />
          <% end %>
        </ol>
      </div>
    <% end %>
  <% end %>
</div>

<div class = 'col-md-6'>
  <% if @location_data %>
    <p><%= @location_data %></p>
    <p>Location: <%= @location_input %>
    <br>Arrival: <%= @arrival_date %>
    <br>Departure: <%= @departure_date %></p>
    <div class='listings'>
      <ol>
        <% @airbnb_results.each_with_index do |listing, index| %>
          <div>
            <li>
              <strong>
                <%= link_to listing[:title], listing[:link], target: '_blank' %>
              </strong>
            </li><br>
            Price: <%= listing[:price] %><br>
            Location: <%= listing[:location_description] %><br>
            Latitude: <%= listing[:latitude] %><br>
            Longitude: <%= listing[:longitude] %><br>
            Distance: <%= listing[:distance] %> miles<br>
          </div>
          <br />
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
